<table>
  <thead>
    <tr>
      <th>Sender</th>
      <th>Recipient</th>
      <th>Text</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @mail_messages.each do |mail_message| %>
      <tr>
        <td><%= mail_message.sender %></td>
        <td><%= mail_message.recipient %></td>
        <td><%= mail_message.text %></td>
      </tr>
    <% end %>
  </tbody>
</table>