<h1>Inbox</h1>

<div class="panel-body">
	<table class="table">
		<thead>
			<th>Sender</th>
			<th>Message</th>
			<th>Date</th>
		</thead>
		<tbody>
			<% @mail_messages.each do |mail_message| %>
				<tr>
					<td><%= mail_message.sender.email %></td>
					<td><%= mail_message.text %></td>
					<td><%= mail_message.created_at %></td>
				</tr>
			<% end %>
		</tbody>
	</table>
</div>