<div class="well">
  <% if not user_signed_in? %>
    <%= render :template => "devise/registrations/new" %>
    <%= render :template => "devise/sessions/new" %>
    
    <%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
      <%= link_to "Forgot your password?", new_password_path(resource_name) %><br />
    <% end -%>
  <% end %>
</div>