<h1>Sent</h1>

<div class="panel-body">
	<table class="table">
		<thead>
			<th>Recipient</th>
			<th>Message</th>
		</thead>
		<tbody>
			<% @mail_messages.each do |mail_message| %>
				<tr>
					<td><%= mail_message.recipient.email %></td>
					<td><%= mail_message.text %></td>
				</tr>
			<% end %>
		</tbody>
	</table>
</div>